doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(ng-app="chatExample", ng-cloak)
      block content

  block javascripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js")
    script(src="/javascripts/main.js")
